PidFile={{ zabbix_agent_pidfile }}
LogFile={{ zabbix_agent_logfile }}
LogFileSize={{ zabbix_agent_logfilesize }}
{% if zabbix_agent_server == '' %}
Server={{ zabbix_agent_server }}
{% else %}
Server=127.0.0.1
{% endif %}
{% if zabbix_agent_serveractive == '' %}
ServerActive={{ zabbix_agent_serveractive }}
{% else %}
ServerActive=127.0.0.1
{% endif %}
Hostname={{ zabbix_agent_hostname }}
EnableRemoteCommands={{ zabbix_agent_enableremotecommands }}
